<!DOCTYPE html>
<html>

<head>
	<meta charset="ISO-8859-1">
	<title>Home</title>
	<link rel="stylesheet" type="text/css" href="/home.css">

</head>

<body>
	<!-- Nav bar -->
    <nav id="navbar">
        <div id="logo">
            <img id="logo-img" src="/jobhive-high-resolution-logo-transparent.png" alt="">
        </div>
        <div id="nav-content">
            <div><a href="">JOB</a> </div>
            <div><a href="">COMPANIES</a></div>
            <div><a href="">SERVICES</a></div>
            <div><a href="">PREFRENCES</a></div>
			<div><button><a href="/signup">SIGNUP</a></button></div>
			<div><button><a href="/login">LOGIN</a></button></div>
        </div>  
    </nav>
	<!-- body      -->
	<div id="msg">
		<h3 th:text="${msg}"></h3>
	</div>
</body>

</html>